DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@professional-accountability-db.cfgiy2gi8ilj.ap-northeast-1.rds.amazonaws.com:5432/postgres
ANTHROPIC_API_KEY=sk-ant-YOUR_KEY_HERE
AWS_ACCESS_KEY_ID=AKIAQEHHSIO6KLFWVD4O
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
AWS_DEFAULT_REGION=ap-northeast-1
